.page {
    width: 70%;
    margin: auto;
    padding: 2rem;
}

.page__date {
    text-align: right;
    text-transform: uppercase;
    font-weight: bold;
    color: #809BCE;
    margin-bottom: 2rem;
}